.aui,
.aui body,
.aui li{
    line-height: inherit;
}
.aui .portlet, 
.aui .portlet-borderless-container{
    padding: 0;
    margin-bottom: 0;
}
.aui #wrapper.uvm-main-container .block-uvm header.portlet-topper{
    padding: 0;
}
.aui #wrapper .portlet-topper h1.portlet-title {
    font-size: 1em;
    font-weight: normal;
    line-height: 2.2;
    margin: 0;
}
body #wrapper.uvm-main-container .block-uvm header.portlet-topper:before{
    display: none;
}
.aui .portlet-content, 
.aui .portlet-minimized .portlet-content-container{
    border: 0;
    padding: 0;
}
.aui body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff; 
}
#wrapper{
    padding: 0;
}
div#componet-c15{
    margin-right: 0px!important;
    margin-left: 0px!important;
}

/* C7 */
#wrapper .component-c7 .up-text-cont .quote-zone .normal-quote, #wrapper .component-c7a .up-text-cont .quote-zone .normal-quote{
    line-height: 40px;
}
header.line-red {
    margin-left: 15px;
}
/* Fin C7 */

/* C14 */
#wrapper .btn{
    text-shadow: none;
}
body #wrapper{
    color: #333;
    font-family: "opensans_uvm";
}
/* Fin C14 */

/* C14 */
.int strong{
    line-height: 43px;
}
/* Fin C14 */
/* Fin C20 */
.btn.btn-modal.close{
   box-shadow: none;
}
/* Fin C20 */

/* T11*/
.row.component-t11 .col-sm-4  a{
   font-weight: bold;   
}
/* fin T11 */

/* I1C */
body #wrapper.uvm-main-container div .block-uvm section.block-uvm .content .row, body #wrapper.uvm-main-container div .block-uvm section.block-uvm .component-wrapper .row {
    padding: 0 0px;
}
/* fin 1IC */

/* C1 */

#wrapper.uvm-main-container .block-uvm .component-c1 > div .int strong{
    font-weight: 700;
}
/* fin C1 */

/* c57 */

#wrapper.uvm-main-container div.row.component-c57 .tabss{
   display: none;
}
/* fin c57 */

/* breadcrumbs*/
    body #wrapper.uvm-main-container div .block-uvm .component-wrapper > .row:nth-child(1) > ul li a {
    color: #999999;
    position: relative;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    margin: 0 auto;
    padding:15px;
}
body #wrapper.uvm-main-container div .block-uvm .component-wrapper > .row:nth-child(1) > ul {
    display: inline-block;
    padding: 10px;
    background-color: white;
}
#wrapper .breadcrumb > li + li:before {
  display: none;
}
#wrapper.uvm-main-container .component-br p a {
    padding:10px;
}

 body #wrapper.uvm-main-container div .block-uvm .component-wrapper > .row:nth-child(1) > ul li a:hover {
    color: #D9272E;
 }

body #wrapper.uvm-main-container div .block-uvm .component-wrapper > .row:nth-child(1) > ul li a:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.5px 0 2.5px 5px;
    border-color: transparent transparent transparent #999999;
    height: 5px;
    width: 5px;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
}
.uvm-main-container .component-br p  {
    color: #999999;
}
.uvm-main-container .component-br p:hover {
    color: #D9272E;
}
.aui .breadcrumb li span.divider {
    display: none;   
}

#wrapper.uvm-main-container .component-br{
    margin: 0px !important;
}

body #wrapper.uvm-main-container div .block-uvm .component-wrapper > .component-br.row:nth-child(1) > ul{
    margin: 0px;
}

body #wrapper.uvm-main-container div .block-uvm .component-wrapper > .component-br.row > ul > li{
    margin: 0px;
}

body #wrapper.uvm-main-container div .block-uvm .component-wrapper > .component-br.row > ul{
    padding: 0px;
}
/* fin breadcrumbs */

/* c29 */
#wrapper.uvm-main-container div .block-uvm .component-wrapper .row.component-c29 > ul{

    background-color: rgb(51, 51, 51)!important;
}

/* fin C29 */
body #wrapper.uvm-main-container div.container .block-uvm .component-wrapper > .row.component-c29:nth-child(1) > ul li a.active:before{
   content: '';
   width: 0;
   height: 0;
   border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 20px solid transparent;
   border-top: 20px solid transparent;
   position: absolute;
   bottom: -40px;
   left: 50%;
   top: initial;
   margin-left: -20px;
   border-top: 20px solid #fff;
}

body .uvm-main-container div a:hover{
    text-decoration: none;
}

/*PHA*/

#wrapper.uvm-main-container .component-pha > .cont-expanded > .expanded-link .cont-text p{
	font-weight: normal;
}

/*FIN PHA*/

/* P3 */
.row.component-p3a :before {
    box-sizing: border-box;
}
/* P3 */
